.show-password {
    width: 16px;
    height: 16px;
    margin: 5px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .show-password {
        position: relative;
        top: 5px;
    }
}
